<p id="notice"><%= notice %></p>

<p>
  <string>Year start:</string>
  <%= @group.year_start %>
</p>

<p>
  <string>Year end:</string>
  <%= @group.year_end %>
</p>

<p>
  <string>Name:</string>
  <%= @group.name %>
</p>

<p>
  <string>Level quantity:</string>
  <%= @group.level_quantity %>
</p>

<p>
  <string>Kind:</string>
  <%= @group.kind %>
</p>

<p>
  <string>Cover:</string>
  <%= @group.cover %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
