<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level %>
    <%= f.number_field :level, id: :project_level %>
    <%#= select("project", "person_id", Members.all.collect {|member| [ member.name, member.id ]}, { include_blank: true })%>
  </div>

  <div class="field">
    <%= f.label :person_id %>
<<<<<<< HEAD
    <%#= f.number_field :group_id, :project_person %>
    <%= select("projects", "project_id", Member.all.collect { |p| [p.last_name, p.id ] }, { include_blank: true })%>
=======
<<<<<<< HEAD
<<<<<<< HEAD
    <%#= f.text_field :person_id %>
    <%= select("project", "person_id", People.all.collect {|person| [ person.last_name, person.id ] }, { include_blank: true })%>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
=======
=======
>>>>>>> aa7f5d30db12133912d7d060998521f9ac92642a
    <%= f.number_field :group_id, :project_person %>
    <%= select("project", "person_id", Person.all.collect {|p| [ p.last_name, p.id ] }, { include_blank: true })%>
>>>>>>> aa7f5d30db12133912d7d060998521f9ac92642a
>>>>>>> 123f90d52fd614a355a0d6cef20b2a6eb907dd34
  </div>

  <div class="field">
    <%= f.label :group_id %>
    <%#= f.number_field :group_id, id: :project_group_id %>
    <%= select("project", "group_id", Group.all.collect { |g| [g.name, g.id ] }, { include_blank: true })%>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, id: :project_description %>
  </div>

  <div class="field">
   <%= form.label :cover %>
   <%= form.text_field :cover, id: :project_cover %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
