<p id="notice"><%= notice %></p>

<p>
  <string>Level:</string>
  <%= @project.level %>
</p>

<p>
  <string>Members:</string>
  <%= Person.find(@project.person_id).last_name %>
</p>


<p>
  <string>Group:</string>
  <%= Group.find(@project.group_id).name %>
</p>

<p>
  <string>Name:</string>
  <%= @project.name %>
</p>

<p>
  <string>Description:</string>
  <%= @project.description %>
</p>
<div>
  <%= image_tag @project.image %>
</div>


<p>
  <string>Cover:</string>
  <%= @project.cover %>
</p>

<p>
  <string>Cover:</string>
  <%= @project.cover %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
