<p id="notice"><%= notice %></p>

<p>
  <string>Level:</string>
  <%= @portrait.level %>
</p>

<p>
  <string>Image:</string>
  <%= @portrait.image %>
</p>

<p>
  <string>Person:</string>
  <%= @portrait.person_id %>
</p>

<%= link_to 'Edit', edit_portrait_path(@portrait) %> |
<%= link_to 'Back', portraits_path %>
